---
layout: archive
permalink: /year-archive/
title: "Blog posts"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---
<p>
1. “My dear,
In the midst of hate, I found there was, within me, an invincible love. <br>
In the midst of tears, I found there was, within me, an invincible smile.<br>
In the midst of chaos, I found there was, within me, an invincible calm.<br>
I realized, through it all, that…<br>
In the midst of winter, I found there was, within me, an invincible summer.<br>
And that makes me happy. For it says that no matter how hard the world pushes against me, within me, there’s something stronger – something better, pushing right back.<br>
Truly yours,<br>
- Albert Camus”<br>
</p>
<p>
2. “I don't have to chase extraordinary moments to find happiness <br>
- it's right in front of me if I'm paying attention and practicing gratitude.” <br>
― Brené Brown<br>
</p>
<p>
3. “We travel, initially, to lose ourselves; and we travel, next to find ourselves. <br>
We travel to open our hearts and eyes and learn more about the world than our newspapers will accommodate.<br>
We travel to bring what little we can, in our ignorance and knowledge, to those parts of the globe whose riches are differently dispersed.<br>
And we travel, in essence, to become young fools again- to slow time down and get taken in, and fall in love once more.”<br>
― Pico Iyer<br>
</p>
<p>
4. “It is not the mountain we conquer, but ourselves”<br>
―  Edmund Hillary <br>
</p>

<p>
5. “Between stimulus and response there is a space. In that space is our power to choose our response. <br>
In our response lies our growth and our freedom.”<br>
― Viktor E. Frankl<br>
</p>

<p> 
  <br>
6. “Obstruction lies in the imprisonment of life and of the soul within all kinds of artificial limitations and boundaries, social, physical, economic and psychological, 
thus denying to ourselves the chance to achieve our fullest potential, our perfect selfhood.
When we break through the obstructions set up by the fearful and the possessive self we find a new freedom to communicate with others, 
but, mote important still, freedom to come into more intimate touch with an infinite personality, with God.
Sin is that which obstructs us in gaining our ultimate end, the fullest possible union with the universe around us and with all the people in it. 
We lose money, we are too occupied with the mainly material concerns of this life. We worry to death. This is a mistake, just as when, by breaking 
the laws of health or by eating or drinking of worrying too much, we suffer pain and the isolation of the sickroom. 
Sin is that barrier by which we are so isolated as to be hampered in reaching our ultimate end,
the realisation of the supremacy of truth through love.
Inordinate desire, passion, hatred and jealousy are the greatest of hindrances, for they all accentuate the separate and isolated life of the self. 
The one great faculty of the soul is sympathy or love.”
- Rabindranath Tagore
</p>
<p>
7. You don't have to be a hero to accomplish great things---to compete. You can just be an ordinary chap, <br>
sufficiently motivated to reach challenging goals.<br>
-Edmund Hillary
  </p>

<p>
8. "Truth is God" <br>
"Freedom is like birth." <br>
"Ahimsha is the strongest force known." <br>
"In a gentle way, you can shake the world."  <br>
"Satyagraha is gentle; it never wounds."  <br>
"Swaraj is the abandonment of the fear of death." <br>
"A Satyagrahi bids goodbye to fear." <br> 
"Bravery is not a quality of the body; it is of the soul." <br>
"The best way to find yourself is to lose yourself in the service of others." <br>
"The greatness of humanity is not in being human, but in being humane." <br>
"The weak can never forgive. Forgiveness is the attribute of the strong." <br>
"Strength does not come from physical capacity. It comes from an indomitable will."  <br>
"Satyagraha is a relentless search for truth and a determination to search for truth." <br>
"I object to violence because when it appears to do good, the good is only temporary; the evil it does is permanent." <br>
– Mahatma Gandhi
</p>
<p>
9. I have always believed, and I still believe, that whatever good or bad fortune may come our way we can always give  <br>
it meaning and transform it into something of value. <br>
Hermann Hesse, Siddhartha
</p>
<p>
10“Sometimes fate is like a small sandstorm that keeps changing directions. You change direction but the sandstorm chases you.  <br>
You turn again, but the storm adjusts. Over and over you play this out, like some ominous dance with death just before dawn.
Why? Because this storm isn't something that blew in from far away, something that has nothing to do with you. This storm is you.
Something inside of you. So all you can do is give in to it, step right inside the storm, closing your eyes and plugging up your
ears so the sand doesn't get in, and walk through it, step by step. There's no sun there, no moon, no direction, no sense of time.
Just fine white sand swirling up into the sky like pulverized bones. That's the kind of sandstorm you need to imagine.
And you really will have to make it through that violent, metaphysical, symbolic storm. No matter how metaphysical or symbolic it might be,
make no mistake about it: it will cut through flesh like a thousand razor blades. People will bleed there, and you will bleed too.
Hot, red blood. You'll catch that blood in your hands, your own blood and the blood of others.
And once the storm is over you won't remember how you made it through, how you managed to survive. You won't even be sure, in fact, 
whether the storm is really over. But one thing is certain. When you come out of the storm you won't be the same person who walked in. 
That's what this storm's all about.”
― Haruki Murakami, Kafka on the Shore <br>
<p>
11. “You do not need to leave your room. Remain sitting at your table and listen. Do not even listen, simply wait, be quiet, still and solitary.<br>
  The world will freely offer itself to you to be unmasked, it has no choice, it will roll in ecstasy at your feet.” 
  ― Franz Kafka 
</p>
<p>
12. “No one behind, no one ahead. The path the ancients cleared has closed. And the other path, everyone's path, easy and wide, goes nowhere.<br>
  I am alone and find my way.” 
  ― Octavio Paz 
  </p>
<p>
 13. "I have become my own version of an optimist. If I can't make it through one door, I'll go through another door - or I'll make a door. <br>
  Something terrific will come no matter how dark the present."
  -Rabindranath Tagore 
  </p>
<p>
  14. “And by the way, everything in life is writable about if you have the outgoing guts to do it, and the imagination to improvise. <br>
  The worst enemy to creativity is self-doubt.” <br>
  ― Sylvia Plath 
   </p>
<p>
  15. “What is the point of worrying oneself too much about what one could or could not have done to control the course one's life took?  <br>
  Surely it is enough that the likes of you and I at least try to make our small contribution count for something true and worthy. <br>
  And if some of us are prepared to sacrifice much in life in order to pursue such aspirations, <br>
  surely that in itself, whatever the outcome, cause for pride and contentment.” 
  ― Kazuo Ishiguro
  </p>
<p>
  16. “For those who believe in God, most of the big questions are answered. But for those of us who can't readily accept the God formula, <br>
  the big answers don't remain stone-written. We adjust to new conditions and discoveries. We are pliable. Love need not be a command nor faith a dictum. 
  I am my own god. We are here to unlearn the teachings of the church, state, and our educational system. We are here to drink beer.  
  We are here to kill war. We are here to laugh at the odds and live our lives so well that Death will tremble to take us.”  
  ― Charles Bukowski
  </p>
<p>
  17. “For darkness restores what light cannot repair.”  <br>
   ― Joseph Brodsky  
</p>
<p>
  18. “If you cry because the sun has gone out of your life, your tears will prevent you from seeing the stars.”  <br>
  ― Rabindranath Tagore
</p>
<p>
19. One can never consent to creep when one feels an impulse to soar.<br>
-Helen Keller
</p>
<p>
20. You see things; and you say, "Why?" But I dream things that never were; and I say, "Why not?" <br>
 -George Bernhard Shaw
</p>
<p>
21. Without courage we cannot practice any other virtue with consistency. We can't be kind, true, merciful, generous, or honest.<br>
 -Maya Angelou
</p>
<p>
22. "Perhaps there is only one cardinal sin: impatience. Because of impatience we were driven out of Paradise, because of impatience we cannot return."<br>
-Franz Kafka
</p>
<p>
23. "We reveal ourselves in the metaphors we choose for depicting the cosmos in miniature."<br>
Stephen Jay Gould
The Emperor of All Maladies<br>
</p>
<p>
24. I wonder how many people I've looked at all my life and never seen. -John Steinbeck<br>
25. Don't worry about losing. If it is right, it happens - The main thing is not to hurry. Nothing good gets away.<br>
-John Steinbeck
</p>
<p>
26. No sun outlasts its sunset, but will rise again and bring the dawn.<br>
-Maya Angelou
</p>
<p>
27. "If he is indeed wise he does not bid you enter the house of his wisdom, but rather leads you to the threshold of your own mind" <br>
---Kahlil Gibran
</p>
<p>
28. "I can never read all the books I want, I can never be all the people I want and live all the lives I want. <br>
I can never train myself in all the skills I want. And why do I want? I want to live and feel all the shades, 
tones and variations of mental and physical experience possible in life. And I am horribly limited."
SYLVIA PLATH<br>
</p>
<p>
29 To be nobody-but-yourself in a world which is doing its best, night and day, to make you everybody but yourself - means to fight the hardest battle <br>
 which any human being can fight- and never stop fighting. - E.E.Cummings
</p>
<p>
30. Is is by logic that we prove, but by intuition that we discover. -Henri Poincaré <br>
</p>
<p>
31 "One day you will ask me which is more important? My life or yours? I will say mine and you will walk away not knowing that you are my life." <br>
Kahlil Gibran
</p>
<p>
32. "Remember, remember, this is now, and now, and now. Live it, feel it, cling to it. I want to become acutely aware of all I've taken for granted." <br>
- Sylvia Plath
</p>
<p>
33. He who wonders discovers that this in itself is wonder. - M.C. Escher <br>
</p>
<p>
34. "Don't let someone dim your light simply because it is shining in their eyes.<br>
" You have a mission in life. It is your mission, not theirs. <br>
It is your destiny and you were meant to achieve it in the short time we all are blessed to be alive.<br>
 But as with anything, along the way there will be detractors, haters, people who will stomp upon a dream.<br>
 Many hate to see people fulfill their destiny and are jealous of you doing what they cannot. <br>
When your life's light shines into the eyes of another, others will resist seeing you succeed. <br>
Don't let others dim your light. Feel a sense of sorrow for their negativity and gratefulness<br>
 for the positivity of your spirit. Bless them. And then, if they have a problem with<br>
 the brilliance of your life's light, then kindly suggest they get sunglasses, and<br>
 move undauntingly along your life's journey. They can stop you as much as they can<br>
 stop the brilliance of the sun shining on a cloudless day!<br>
Blessings, Bob Bianchi
</p>
<p>
35. "Those who live in the pleasure ground of fancy see the truth in the unreal and the untruth in the real. They never arrive at the truth.
  Those who abide in the world of the right though see truth in the real and untruth in the unreal. They arrive at the truth."<br>
  -The Dhammapada"
</p>
<p>
36. "“In my quest for the secret of life I started my research in histology. Unsatisfied by the information that cellular morphology could give me about life,
  I turned to physiology. Finding physiology too complex, I took up pharmacology. Still finding the situation too complicated, I turned to bacteriology. <br>
  But bacteria were even too complex, so I descended to the molecular level, studying chemistry and physical chemistry. After twenty years' work, 
  I was led to conclude that to understand life we have to descend to the electronic level and to the world of wave mechanics. But electrons are <br>
  just electrons and have no life at all.   Evidently on the way I lost life; it had run out between my fingers.”
-Albert Szent-Gyorgyi
</p>
<p>
37 “It requires a very unusual mind to undertake the analysis of the obvious.”
  ― Alfred North Whitehead
  </p>
<p>
38 “You can’t start out again in life, that’s a carriage ride you only take once, but with a book in your hand, no matter how confusing and perplexing it might be, 
once you’ve finished it, you can always go back to the beginning; if you like, you can read it through again, in order to figure out what you couldn’t understand before, 
in order to understand life.”
― Orhan Pamuk
  </p>
<p>
39. “You may encounter many defeats, but you must not be defeated. In fact, it may be necessary to encounter the defeats, so you can know who you are, what you
can rise from, how you can still come out of it.”
― Maya Angelou
   </p>
<p>
40. “Life is not easy for any of us. But what of that? We must have perseverance and above all confidence in ourselves. We must believe that we are gifted for 
something and that this thing must be attained.”
― Marie Curie
  </p>
<p>
41. “Let me not pray to be sheltered from dangers,
but to be fearless in facing them.
Let me not beg for the stilling of my pain, but
for the heart to conquer it.”
― Rabindranath Tagore
</p>
<p>
42. “So let us then try to climb the mountain, not by stepping on what is below us, but to pull us up at what is above us, for my part at the stars; amen.”
― M.C. Escher
</p>
<p>
43. “For what it’s worth... it’s never too late, or in my case too early, to be whoever you want to be. There’s no time limit. Start whenever you want.
You can change or stay the same. There are no rules to this thing. We can make the best or the worst of it. I hope you make the best of it. 
I hope you see things that startle you. I hope you feel things you’ve never felt before. I hope you meet people who have a different point of view. 
I hope you live a life you’re proud of, and if you’re not, I hope you have the courage to start over again.”
― F. Scott Fitzgerald
</p>
<p>
44. “He learns what a human being does when he suddenly realizes he has 'nothing to lose except his so ridiculously naked life'. 
  Frank's description of the mixed flow of emotion and apathy is arresting. First to the rescue comes a cold detached curiosity concerning one's fate. 
  Swiftly, too, come strategies to preserve the remnants of one's life, though the chances of surviving are slight. 
  Hunger, humiliation, fear and deep anger at injustice are rendered tolerable by closely guarded images of beloved persons,
  by religion, by a grim sense of humour, and even by glimpses of the healing beauties of nature - a tree or a sunset.”
― Viktor Frankl
</p>

<p>
45. “This intensification of inner life helped the prisoner find a refuge from the emptiness, desolation and spiritual poverty of his existence,
  by letting him escape into the past. When given free rein, his imagination played with past events, often not important ones, but minor happenings and trifling things."
<be>
"This intensification of inner life helped the prisoner find a refuge from the emptiness, desolation and spiritual poverty of his existence
As the inner life of the prisoner tended to become more intense, he also experienced the beauty of art and nature as never before.
  Under their influence he sometimes even forgot his own frightful circumstances."<be>
"The aim at giving to them inner strength by pointing out to a future goal to which they could look forward. Instinctively some of the prisoners attempted 
  to find one on their own. It is a peculiarity of person that they can only live by looking to the future - sub specie aeternitatis.
  And this is their salvation in the most difficult moments of their existence, although they sometimes has to force their mind to the task.”
― Viktor Frankl
</p>

<p>
46. “' In spite of all the enforced physical and mental primitiveness of the life in a concentration camp,' Frankl wrote, it was possible for spiritual life to deepen. 
  Sensitive people who were used to a rich intellectual life may have suffered much pain (they were often of a delicate constitution), 
  but the damage to their inner selves was less. They were able to retreat from their terrible surroundings to a life of inner riches and spiritual freedom. 
  Only in this way can one explain the apparent paradox that some prisoners of a less hardy makeup often seemed to survive camp life better than did those of a robust nature.'”
― Viktor Frankl
</p>

 <p>
47. “'The truth - that love is the ultimate and the highest goal to which man can aspire, Then I grasped the meaning of the greatest secret that human poetry and human thought 
   and belief have to impart: The salvation of man is through love and in love, I understood how a man who has nothing left in this world still may know bliss, be it only for
   a brief moment, in the contemplation ofhis beloved. In a position of utter desolation, when man cannot express himself in positive action, when his only achievement may
   consist in enduring his sufferings in the right way - an honourable way - in such a position man can, through loving contemplation of the image he carries of his beloved, 
   achieve fulfilment. For the first time in my life I was able to understand the meaning of the words, 
   "The angels are lost in perpetual contemplation of an infinite glory?”
― Viktor Frankl
</p>   

<p>
48. "When tea becomes ritual, it takes its place at the heart of our ability to see greatness in small things. 
Where is beauty to be found? In great things that, like everything else, are doomed to die, or in small things 
that aspire to nothing, yet know how to set a jewel of infinity in a single moment?
The tea ritual: such a precise repetition of the same gestures and the same tastes; 
accesion to simple, authentic and refined sensations, a license given to all, at little cost, 
to become aristocrats of taste, because tea is the beverage of the wealthy and of the poor; the tea ritual, 
therefore, has the extraordinary virtue of introducing into the absurdity of our lives an aperture of serene harmony.
 Yes, the world may aspire to vacuousness, lost souls mourn beauty, insignificance surrounds us.
 Then let us drink a cup of tea. Silence descends, one hears the wind outside, autumn leaves rustle and take flight, 
the cat sleeps in a warm pool of light. And, with each swallow, time is sublimed.”
― Muriel Barbery
</p>  
    
<p>
49. “Owning our story can be hard but not nearly as difficult as spending our lives running from it. 
Embracing our vulnerabilities is risky but not nearly as dangerous as giving up on love and belonging 
and joy—the experiences that make us the most vulnerable. Only when we are brave enough to explore the
 darkness will we discover the infinite power of our light.”
― Brene Brown
</p> 

<p>
50. “I began to understand that suffering and disappointments and melancholy are there not to vex us or cheapen us
  or deprive us of our dignity but to mature and transfigure us.”
― Hermann Hesse
</p> 
    

    

#{% include base_path %}
#{% capture written_year %}'None'{% endcapture %}
#{% for post in site.posts %}
#  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
#  {% if year != written_year %}
#    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
#    {% capture written_year %}{{ year }}{% endcapture %}
#  {% endif %}
#  {% include archive-single.html %}
#{% endfor %}
